@using System.Web.Optimization
@using FluentKnockoutHelpers.Core.TypeMetadata
@using SurveyApp.Model.Models
@using SurveyApp.Web
@using FluentKnockoutHelpers.Core
@using SurveyApp.Web.App_Start

<!DOCTYPE html>
<html>
    <head>
        <title>FluentKnockoutHelpers/Durandal.js Demo - Loading Survey App...</title>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
        <meta name="format-detection" content="telephone=no"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        @Styles.Render(BundleConfig.Css.All)
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-41013106-1', 'apphb.com');
            ga('send', 'pageview');
        </script>
    </head>
    <body>
        <a href="https://github.com/johnculviner/FluentKnockoutHelpers">
            <img style="position: absolute; top: 0; right: 0; border: 0; z-index: 999" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub">
        </a>
        <div id="applicationHost">
            <div class="splash">
                <div class="message">
                    FluentKnockoutHelpers/Durandal.js Demo
                    <br/>
                    Loading Survey App...
                </div>
                <i class="icon-spinner icon-2x icon-spin active"></i>
            </div>
        </div>
        @*render all "global namespace" scripts*@
        @Scripts.Render(BundleConfig.Scripts.All)
        
        @if(HttpContext.Current.IsDebuggingEnabled) {
            <script type="text/javascript"
                    src="~/App/durandal/amd/require.js"
                    data-main="@VirtualPathUtility.ToAbsolute("~/App/main")"></script>
        } else {
            <script type="text/javascript" src="~/App/main-built.js"></script>
        }
        
        <script>
            define("typeMetadata", function() {
                return @(TypeMetadataHelper.EmitTypeMetadataArray());
            });
        </script>
        <div class="navbar navbar-inverse navbar-fixed-bottom">
            <div class="navbar-inner">
                <div class="container">
                    <p class="muted credit">
                        FluentKnockoutHelpers Demo in Durandal.js - 
                        Created by John Culviner
                        <a href="http://www.johnculviner.com" target="_blank">Blog</a>
                        <a href="https://github.com/johnculviner" target="_blank">GitHub</a>
                        <a href="https://github.com/johnculviner/FluentKnockoutHelpers/archive/master.zip" target="_blank">Download Source</a>
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>