.splash {
    text-align: center;
    margin: 10% 0 0 0;
}

.splash .message {
    font-size: 5em;
    line-height: 1.5em;
    -webkit-text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 15px;
    text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 15px;
}

.splash .icon-spinner {
    text-align: center;
    display: inline-block;
    font-size: 5em;
    margin-top: 50px;
}

.page-host {
    position: relative;
    top: 40px;
}

.navbar-fixed-top {
    z-index: 100;
}

.navbar-fixed-top .navbar-inner {
    padding-left: 1em;
    padding-right: 1em;
}

.navbar-fixed-top .icon-home {
    font-size: 18px
}

.loader {
    margin: 6px 8px 4px 8px;
    visibility: hidden;
}

.loader.active {
    visibility: visible;
}

@media (max-width: 979px) {
    .page-host {
        top: 0;
    }

    .navbar-fixed-top {
        margin-bottom: 0;
    }
}


table.table thead tr th{
    background-color: #999999;
    color: white;
}

table.table tr.selected {
    background-color: #ebebeb;
}

table.table tr:hover {
    background-color: #f3f3f3;
}

table.table.item-selected {
    width: 50%
}

td.actions {
    width: 84px;
}

div.controls.uneditable {
    margin-top: 5px;
}

.messageBox .form-horizontal {
    margin: 0px;
}
